/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-family:inherit;vertical-align:baseline;margin:0;padding:0;box-sizing:border-box;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@font-face {
    font-family: 'Blokk';
    src: url('fonts/blokk/BLOKKRegular.eot');
    src: url('fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
    url('fonts/blokk/BLOKKRegular.woff') format('woff'),
    url('fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 87.5%;
    line-height: 1.3;
}

.container {
    min-height: 100%;
    position: relative;
    padding-bottom: 58px;
}

header {
    display: table;
    width: 100%;
    background: #0099cc;
    padding: 20px 30px;

    .logo {
        display: table-cell;
        width: 100px;
        height: 100px;
        background: lightblue url("../images/roosma.png") no-repeat -18px 0px;
        background-size: 135px;
        border: 2px solid #fff;
        border-radius: 50px;
    }

    ul.menu {
        display: table-cell;
        vertical-align: middle;
        padding-left: 50px;

        li {
            display: inline-block;
            margin: 0 20px 0 0;
        }

        a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
        }
    }
}

footer {
    padding: 20px 30px;
    background: #ddd;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.main {
    .box {
        padding: 40px;

        p {
            margin: 0 0 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .img-box {
        min-height: 500px;
        padding: 0;
        background: transparent no-repeat center center fixed;
        background-size: cover;
        position: relative;

        p {
            max-width: 30%;
            padding: 20px;
            background-color: rgba(0,0,0,0.5);
            color: #fff;
            position: absolute;
            bottom: 20px;
        }
    }

    .filler {
        font-family: "Blokk", Arial, sans-serif;
        color: #d3d3d3;
    }
}